@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('./img/b.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    position: relative;
    width: 320px;
    height: 200px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.imgBx {
    position: relative;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 100px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}

.imgBx img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.card .content {
    padding: 20px;
    text-align: center;
}

.card .content .details h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
    margin-top: -38px;
}

.card .content .details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}
